.container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.filters {
  flex: 1;
}

.filtercontainer {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.filtercontainer button {
  border: none;
  border-radius: 5px;
  background-color: rgba(241, 120, 7, 0.7);
  color: white;
  margin: 5px 0;
}
.filtercontainer button:hover {
  background-color: whitesmoke;
  color: rgba(241, 120, 7, 0.7);
}

.filtercontainer select {
  border: none;
  border-radius: 5px;
  background-color: rgba(241, 120, 7, 0.7);
  color: white;
  margin: 5px 0;
  padding: 5px 0;
}
.filtercontainer select:hover {
  background-color: whitesmoke;
  color: rgba(241, 120, 7, 0.7);
}

.cards {
  flex: 2;
  margin: auto;
}

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.pagination button {
  border: none;
  border-radius: 5px;
  background-color: rgba(241, 120, 7, 0.7);
  color: white;
  margin: 0 5px;
}

