.h2{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    background-color: rgb(220, 221, 223);
    padding: 20px;
}
.containerCard{
   margin-left: 330px;
   margin-top: -280px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
