.navEcommerce {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  background-color: transparent;
  width: 100%;
  height: 80px;
  margin: 10px;
  justify-content: space-between;
}
.containerLogo {
 height: 100%;
 object-fit: contain;
 
}

.img {
  width: 100%;
  height: 100%;
  fill: #ff7f2a;
}
