.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 200px;
    margin-top: 50px;font-size: 40px;
    color:rgb(66, 65, 65);
    
}



.logoClient{
    width: 10%;
    margin-top:4px;
}
.navEcommerce{
    background-color: rgb(218, 219, 215);
    padding: 100px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}    