.container{
height: 100px;
margin-bottom: 40px;
background-color:#ff9900;
display:block;
justify-content: center;
align-content: center;
}

.logoClient {
  width: 50PX;
 margin-top: 10PX;
  margin-left: 70px;
  
}

/* .navEcommerce {
  background-color: rgb(218, 219, 215);
  padding: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
} */

.urbanBuy {
  background-color: #ff9900;
  color: #ffffff;
}

.marino {
  background-color: #112233;
  color: #ffffff;
}

.floral {
  background-color: #793a96;
  color: #000000;
}

.SingnIn{
 margin-left: 1500px;
 margin-top: -50px;
 
}


.input{
 
  margin-left: 600px;
  margin-top: -43px;
}
 
.inputSearch{
  width: 45%;
  height: 40px;
  border-radius: 10px;
  border:#ff7300
}
.button1{
  background-color: #000000;
  color: white;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 10px;
}
.button1:hover{
  background-color: whitesmoke;
  color: #000000;
}

.button2{
  background-color: #000000;
  color: white;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
}

.button2:hover{
  background-color: whitesmoke;
  color: #000000;
}

.categorias{
background-color: #ff9900;
  margin-left: -900px;
  height: 40px;
  width: 150px;
  color: white;
  font-size: 20px;
}
.select {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.option{
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}