.slider{
    border: 1px solid rgb(255, 153, 0);
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.img {
    width: 100%; /* Ancho del contenedor */
    height: 300px; /* Altura deseada */
    object-fit: contain; /* Ajustar imagen sin distorsión */
    object-position: center; /* Centrar imagen horizontalmente */
  }

  .sliderTitle {
    position: absolute;
    bottom: 450px;
    left: 160px;
    background-color: rgba(243, 148, 7, 0.9);
    color: white;
    padding: 10px;
    margin: 0;
    border-radius: 0 10px 10px 0;
  }
  