/* Estilos para los botones */
.button1{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff7f2a;
    color: white;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }
  
  /* Estilos para cuando el cursor está encima */
  .button1:hover {
    background-color:whitesmoke ;
    color: #ff7f2a;
    transform: scale(1.1);
    border-color: 1px solid #ff7f2a ;
  }


  ::-webkit-scrollbar{
    width: 5px;
    background-color: rgba(0, 0, 0, 0.127);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb{
    background-color:#ff7f2a;
  }

  .selectsortProduct{
    width: auto;
    background-color: transparent;
    border: none;
  }

  .selectsortProduct:focus{
    outline: none;
    background-color: transparent;
    border: none;
  }

  .spanTotalProducst{
    font-size: 40px;
    width: 60px;
    height: 60px;
    color: white;
    background-color: #ff7f2a;
    border-radius: 50%;
  }

  .containertablecategories{
    width: 700px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ulcategories{
    padding: 20px;
    background-color: #ff7f2a;
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    overflow: hidden;
    overflow-y: auto;
  }

  .divcategories{
    background-color:#ff7f2a;
    width: 600px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 13px;
    gap: 10px;
  }

  .divcategories button{
    border-radius: 10px;
    background-color: #ff7f2a;
    border:1px solid white;
    color: #fff;
  }

  .licategories{
  text-decoration: none;
  list-style: none;
  color: #222020;
  }

  .containertable{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  