.contieneTodoDashboardUsers{
  width: 90%;
  margin-top: 20px;
}
.navegateUser{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  align-content: center;

}
.paginationUsers{
  display: block;
}
.paginationUsers .page{
  padding: 6px 10px 6px 10px;
  margin-right: 5px;
  border-radius: 6px;
}
.paginationUsers .pageActive{
  background-color: #ff7f2a;
}
.contentDashboardUsers{
    width: 100%;
    box-shadow: 4px 3px 20px 4px #4644442b;
    padding: 18px;
    border-radius: 10px;
}
.contentTabs{
    width:100%;
  }

  .contentAllUser{
    width: 100%;
    height: 100%;
    background-color:#efe7e7;
    border-radius: 10px;
   padding: 15px;
   
    overflow: hidden;
    
  }
  
  