.detailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; /* Altura fija del contenedor principal */
 margin-top: 30px;
  align-self: center;
  position: relative;
}

.navButtons {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
 .Link{
  color: #f57a07;
  text-decoration: none;
  outline: none;
}
.containerDetails{
display: flex; 

width: 1600px;
height: 100%;
}

.concaintercardDetails{
  display: flex;
}

.imageDetail{
  background-color: rgba(191, 186, 186, 0.348);
  width: 800px;
  height: 800px;
  box-shadow: #888888;
  border-radius: 25px;
  box-shadow: 20px 10px 43px rgba(0, 0, 0, 0.2);
}

.image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cardContainer {
  box-sizing: border-box;
  width: 80%;
  height: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 40px;
  color: rgb(53, 53, 53);

}

.h2 {
  color: rgb(41, 41, 41);
  border-radius: 8px;
  font-size: 20px;
}
.descriptionContainer {
  width: 1000px;
  height: 800px;
  overflow: hidden;
  border-radius: 10px;
  font-size: 20px;
  color: rgb(53, 53, 53);
  line-height: 1.7;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
 
}
.hproductname{
  font-size: 35px;
  font-weight: 700;
}

.categoryRowContainer{
  display: flex;
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: space-between;
}


.containertext{
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 800px;
  height: 550px;
  gap: 50px;

}
.detailsproductsall{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.pricedetail{
  padding: 8px;
  border-radius: 10px;
  background-color: transparent;
  border:1px solid #f57a07;
  font-size: 30px;
}
.categoryRow{
  display: flex;
  font-weight: 400;
  gap: 10px;
}

.description {
  padding: 10px;
  font-weight: 400;
  white-space: wrap; /* Evita el ajuste de línea del texto */
  overflow-y: auto; /* Oculta el texto que excede el ancho */
  text-overflow: ellipsis; /* Muestra tres puntos suspensivos (...) */
  text-align: left; /* Alinea el texto a la izquierda */

}

.hrdivisor{
  height: 1px;
  width: 100%;
  color: black;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
  margin-bottom: 50px;
}
.backarrow{
  display: flex;
  position: absolute;
  top: 30px;
  left: 220px;
  gap: 10px;
  cursor: pointer;
}

.button {
  background-color: rgb(243, 156, 18);
  padding: 10px;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}


/* Estilos para el scroll en navegadores webkit (Chrome, Safari) */
.descriptionContainer::-webkit-scrollbar {
  width: 8px; /* Ancho del scroll */
}

.descriptionContainer::-webkit-scrollbar-thumb {
  background-color: #f57a07; /* Color del scroll thumb (barra de desplazamiento) */
}



.floral{
  padding: 8px;
  border-radius: 10px;
  background-color: transparent;
  border:1px solid #6e349d;
  font-size: 30px;
}

.marino{
  padding: 8px;
  border-radius: 10px;
  background-color: transparent;
  border:1px solid #59c7a9;
  font-size: 30px;
}
