.detailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 750px; /* Altura fija del contenedor principal */
  gap: 20px;
  align-self: center;
  border-radius: 30px;
}

.navButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cardContainer {
  box-sizing: border-box;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 40px;
  color: rgb(53, 53, 53);

  border: 1px solid #ff7f2a;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.img {
  width: 400px;
  height: auto;
  border-radius: 12px;
}
.h2 {
  color: rgb(41, 41, 41);
  border-radius: 8px;
}
.descriptionContainer {
  width: 100%;
  height: 500px;
  overflow:scroll;
  border: black solid 1px;
  border-radius: 10px;
  font-size: 20px;
  color: rgb(53, 53, 53);
  line-height: 1.7;
}
.description {
  padding: 10px;
  text-align: flex-start;
}

.button {
  background-color: rgb(243, 156, 18);
  padding: 10px;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}





/* 
.descriptionContainer {
  flex: 1;
  display: flex;
  overflow: hidden;
  height: 400px;
  margin-left: 70px
} */




/* .button {
  background-color: rgb(243, 156, 18);
  padding: 10px;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
} */

.descriptionContainer {
  overflow-y: auto; /* Habilitar el scroll vertical */
  overflow-x: auto; /* Habilitar el scroll vertical */

  scrollbar-width: thin; /* Ancho del scroll (solo para navegadores que admiten esta propiedad) */
  scrollbar-color: #888888 #f1f1f1; /* Color del scroll (solo para navegadores que admiten esta propiedad) */
}

/* Estilos para el scroll en navegadores webkit (Chrome, Safari) */
.descriptionContainer::-webkit-scrollbar {
  width: 8px; /* Ancho del scroll */
}

.descriptionContainer::-webkit-scrollbar-thumb {
  background-color: #f57a07; /* Color del scroll thumb (barra de desplazamiento) */
}

.descriptionContainer::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color del track (fondo del scroll) */
}



/* .hovers{
  background-color: white;
  padding: 10px;
  width: 20%;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
} */
