.container-footer{
    padding: 30px ;
    background-color: rgb(202, 103, 11);
  
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
   
}
.contacto{
    color: whitesmoke;
    text-decoration:underline;
    display: flex;
    justify-content: flex-start;
}

.lista{
    text-decoration: none;
    display: flex;
    
}