.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../../../../Img/fondoecommerce.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
  }
  
  .button {
    background: linear-gradient(to right, #ffa500, #ff8c00);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    transition: transform 0.3s;
    margin-right: 10px;
    width: 150px;
    height: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-top: 20px;
  }
  
  .button:hover {
    transform: scale(1.1);
    opacity: 0.8;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .img {
    max-width: 30vw;
    max-height: 30vh;
  }