.d-block w-100{
    border-radius: 30px;
}
.Slider{
    /* background-image: url('../../Img/image.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}

.button-slider{
    margin-top: 50px;
    margin-left: 100px;
    border: none;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(23, 32, 42);
    color: whitesmoke;
}