.cardContainerB{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    word-break: break-word;
    white-space: normal;
   
  
  }
  
  .cardB {
    width: 200px;
    margin: 5px;
    max-width: 100%;
    white-space: pre-wrap;
    
  }
  
  @media screen and (max-width: 768px) {
    .card-container {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }
  