.cardContainerB {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  word-break: break-word;
  white-space: normal;
}

.cardB {
  width: 200px;
  margin: 5px;
  max-width: 100%;
  white-space: pre-wrap;
}

.h1 {
  margin-top: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(202, 111, 30);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;  
}




@media screen and (max-width: 768px) {
  .card-container {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
